/* RESPONSIVENESS RULES */

/* DESKTOP */

/* @media (max-width: 1150px) {
  .site-header {   
  }
} */

/* TABLET */

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .site-header {
    width: 768px;
    margin: 3rem auto 0;
    padding: 0 20px;
  }
}

/* SMARTPHONE */

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }

  /* SITE-HEADER */

  .site-header {
    width: 480px;
    margin: 3rem auto 0;
    padding: 0 20px;
  }

  /* LESSONS */

  .row {
    flex-wrap: wrap;
  }

  .lessons .col {
    width: 100%;
    margin-bottom: 4rem;
  }
}
