/* RESPONSIVENESS RULES */

/* DESKTOP */

/* @media (max-width: 1150px) {
  .site-header {   
  }
} */

/* TABLET */

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .site-header {
    width: 768px;
    margin: 3rem auto 0;
    padding: 0 20px;
  }
}

/* SMARTPHONE */

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }

  /* SITE-HEADER */

  .site-header {
    width: 480px;
    margin: 3rem auto 0;
    padding: 0 20px;
  }

  /* LESSONS */

  .row {
    flex-wrap: wrap;
  }

  .lessons .col {
    width: 100%;
    margin-bottom: 4rem;
  }

  /* STEPS */

  .steps {
    margin: 0;
  }

  .row {
    flex-wrap: wrap;
  }

  .steps .col {
    width: 100%;
    margin-bottom: 5rem;
  }

  .text {
    padding: 0px 3rem;
  }

  .why-us {
    margin: 0;
  }

  .why-us .container {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #222222;
  }

  .why-us .row {
    flex-direction: column;
    row-gap: 4rem;
  }

  .why-us .col-left,
  .why-us .col-right {
    width: 100%;
    padding: 0 2rem;
  }
}
